# Ignore Python internal caches
__pycache__/
*.pyc

# HIDE SOURCE CODE BUILDER GENERATOR 
builder.py

# Ignore system configuration environment files if any
.env
.env.local
node_modules/
.vscode/
.DS_Store